<!DOCTYPE html>
<html>
<head>
  <title>WebSocket Chat Demo with WebRTC Calling</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <h1>Realtime communication with WebRTC</h1>
  <header>
  <div>
    <button id="btnHangUp" onclick="hangUp_click();"> Hang Up </button>
  <div>
  </header
  <div id="videos">
    <video id="remote_video" autoplay playsinline></video>
    <video id="local_video" autoplay playsinline muted></video>
  </div>
  <div id="room-selection" class="hidden">
    <p id="instructions">Please enter a room name.</p>
    <div>
      <div id="room-id-input-div">
        <input type="text" id="txtRoomNo" autofocus/>
        <label class="error-label hidden" for="txtRoomNo" id="lblRoomNoError">Room name must be 5 or more characters and include only letters, numbers, underscore and hyphen.</label>
      </div>
      <div id="room-id-input-buttons">
        <button id="btnJoin" onclick="joinRoom_click(this)">JOIN</button>
        <button id="btnRandom" onclick="joinRandomRoom_click(this)">RANDOM</button>
      </div>
    </div>
  </div>
  <div id="confirm-join-div" class="hidden">
    <div>Ready to join<span id="confirm-join-room-span"></span>?</div>
    <button id="btnConfirmJoin" onclick="confirmJoin_click()">JOIN</button>
  </div>
  <footer>
    <div id="sharing-div">
      <div id="room-link">Waiting for someone to join this room: <a id="linkRoom" href="{{ room_link }}" target="_blank">{{ room_link }}</a></div>
    </div>
    <div id="status-div"></div>
    <div id="rejoin-div" class="hidden"><span>You have left the call.</span> <button id="rejoin-button">REJOIN</button><button id="new-room-button">NEW ROOM</button></div>
  </footer>
  <!-- This file is automatically added/served when running "node index.js". -->
  <script src="/socket.io/socket.io.js"> </script>
  <script src="js/adapter-latest.js"></script>
  <script type="text/javascript" src="js/log.js"></script>
  <script type="text/javascript" src="js/roomSelection.js"></script>
  <script type="text/javascript" src="js/chatclient.js"></script>

</body>

</html>
